@media (min-width: $breakpoint-large) {
    header {
      padding: 1.5rem 3rem;
  
      .logo img {
        max-height: 100px;
      }
    }
    
    
    
    
    main {

      @for $i from 1 through 12 {
        $w: calc($i /12) * 100%;
          .large-#{$i} {flex-basis: $w;}
      }
    }
  }
  