@media (min-width: $breakpoint-medium) {
    header {
      padding: 1rem 2rem;
  
      nav {
        .hamburger {
          display: none; /* Hide hamburger on medium+ screens */
        }
  
        .nav-links {
          display: flex;    /* Horizontal menu */
          position: static; /* No absolute positioning */
          border: none;
          background: none;
          padding: 0;
  
          li {
            margin: 0 1rem;
          }
        }
      }
    }
    
    main {


      @for $i from 1 through 12 {
        $w: calc($i /12) * 100%;
          .medium-#{$i} {flex-basis: $w;}
      }

    }
  }
  